.jobBox {
  weight: 500px;
  height: 600px;
  background-color: aqua;
}

.userInfor {
  weight: 500px;
  height: 600px;
  background-color: rgb(69, 65, 122);
}

.card-content {
  font-size: 18px;
}

.imageBox {
  border: 5px solid;
  text-align: center;
  max-height: 300px;
  width: 70%;
  padding: 0;
  display: block;
  object-fit: cover;
}

.planBox {
  display: block;
}

h1 {
  text-align: center;
}

.contentBox {
  padding: 0;
  text-align: center;
  width: 70%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

h3 {
  margin: 10px 0;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 21px;
}

.planBox {
  width: 396px;
  max-width: 100%;
  border: 1px solid;
  background-color: yellow;
  height: 160px;
}

.bigBox {
  display: block;
  max-width: 100%;
}

.card-container {
  background-color: #231e39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding-top: 30px;
  position: relative;
  max-width: 100%;
  text-align: center;
}

.small-card-container {
  background-color: #231e39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding-top: 10px;
  position: relative;
  max-width: 100%;
  text-align: center;
  margin-top: 20px;
}

.big-card-container {
  background-color: #231e39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding-top: 10px;
  position: relative;
  max-width: 100%;
  text-align: center;
}

.card-container .pro {
  color: #231e39;
  background-color: #febb0b;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.card-container .round {
  border: 1px solid #03bfcb;
  border-radius: 50%;
  padding: 7px;
  object-fit: cover;
  height: 115px;
  width: 115px;
}

button.primary {
  background-color: #03bfcb;
  border: 1px solid #03bfcb;
  border-radius: 3px;
  color: #231e39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}

button.primary.ghost {
  background-color: transparent;
  color: #02899c;
}

.skills {
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid white;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}
