$finalHeight: 1000px;
$finalWidth: 300px;
$scrollBarHeight: 30px;

.horizontal-scroll-wrapper {
  //   position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 1480px;
  //   width: calc(#{$finalHeight} + #{$scrollBarHeight});
  max-height: $finalWidth;
  margin: 0;
  padding-top: $scrollBarHeight;
  background: rgba(212, 208, 208, 0.644);
  overflow-y: auto;
  overflow-x: hide;
}

// .squares {
//   padding: $finalHeight 0 0 0;
//   & > div {
//     width: $finalHeight;
//     height: $finalHeight;
//     margin: 10px 0;
//   }
// }
