.category-Boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  margin-left: 2%;
  margin-right: 2%;
  flex-flow: row wrap;
  position: relative;
}

.category {
  background: none;
  color: black;
  border: solid 5px;
  height: 100px;
  width: 150px;
}
.category:focus {
  color: grey;
  background: none;
  border: solid 5px rgba($color: black, $alpha: 0);
  box-shadow: 0px 0px 0px 1px rgb(58, 57, 118);
}
.searchbox {
  background: green;
  height: 500px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
}
